/*------GlobalStyle*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.png");
    background-color: #9f4ab4;
    font-family: "Acme", sans-serif;
    color: #ffff;
    text-align: center;
}

/*-----Heading*/
.heading {
    position: relative;
    color: #37013c;
    background-color: #fffefe;
    font-size: 38px;
    text-transform: uppercase;
    padding: 8px 0 8px 0;
    letter-spacing: 2px;
    word-spacing: 5px;
    
}

.logo {
    width: 90%;
    height: auto;
    position: relative;
    margin-top: 0;
    
    
}
/*---Player icons*/
/*#players {
    display: none;
}
.playerO {
    width: 50px;   /* isss tbese lines valid still?REVIST
}
.playerX {
    width: 50px;
}*/

/*-----GameArea*/
.game-area {
    width: 100%;
    display: flex;
    /*flex-direction: row-reverse;*/
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    background-color:  rgba(55, 1, 60, 0.8);
    
}

#board {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100%;
}

.box {
    background-color: #f2c6fd;
    width: 170px;
    height: 170px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    /* Change this line */
}

.box::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
}

/*Turn Status Text*/
#status-text {
    background-color: #37013c;
    color: #fffefe;
    font-size: 40px;
    position: relative;
   
}



/*---- ScoreArea*/
#scoreboard-container {
    display: flex;
    flex-direction: column;
    background-color: #f2c6fd;
    width: fit-content;
    height: 100%;
    border: 2px solid;
}



.score-area h2 {
    color: #37013c;
    font-size: xx-large;
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: underline;
    
}

.scores {
    color: #37013c;
    font-size: x-large;
    text-transform: uppercase;
    padding: 1rem 3rem 0.1rem 1rem;
}


/*.scores {
    display: flexbox;
    /*justify-content: space-evenly;*/


.score-options p {
    margin: 0;
    /* Remove default margin to ensure better alignment */
    margin-bottom: 20px;
        /* Add space between each p element */
}

.score-options img {
    vertical-align: middle;
    /* Align images vertically in the middle with the text */
    margin-right: 10px;
    /* Add some right margin for spacing between image and text */
}

/*-----Score icons*/
.scoreskull-graphic {
    width: 3em;
    

}
.scoretie-graphic {
    width: 1.5em;
  
}

.scorebones-graphic {
    width: 3em;

    
}

/*Refresh button*/
#restartBtn {
    background-color: #fffefe;
    color: #9f4ab4;
    font-family: "Acme", sans-serif;
    font-size: 38px;
    text-align: center;
    width: 100%;
    height: 4rem;
    text-transform: uppercase;
}

#restartBtn:active {
    background-color: #9f4ab4;
    color: #fffefe;
    text-align: center;
    width: 100%;
    height: 4rem;
    text-transform: uppercase;

}
/*Footer*/
#footer {
    width: 100%;
    height: fit-content;
    margin-top: 2em;
    background-color: #37013c;

}

/*Responsive Screen size 760*/
@media (max-width: 760px) {
    .game-area {
        flex-direction: column;
    }

    .score-area {
        width: fit-content;
        height: fit-content;
        font-size: 2rem;
        padding-right: 2px;
    }
    .score-options {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }

}

/*Responsive Screen size 530*/
@media (max-width: 530px) {
    /*Reduce size od headline*/
    .heading {
        font-size: x-large;
    }
    
    #board {
        width: auto;
    }

}