/*------GlobalStyle*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(159, 74, 180, 1);
    font-family: "Acme", sans-serif;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

/*-----Heading*/
.heading {
    position: relative;
    color: rgba(55, 1, 60, 1);
    background-color: rgba(255, 254, 254, 1);
    font-size: 38px;
    text-transform: uppercase;
    padding: 8px 0 8px 0;
    letter-spacing: 2px;
    word-spacing: 5px;
    
}

.logo {
    width: 90%;
    height: auto;
    position: relative;
    margin-top: 0;
    
    
}

/*-----GameArea*/
.game-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    background-color:  rgba(55, 1, 60, 0.8);
    
}

#board {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: rgba(242, 198, 253, 1);
    padding: 10px;
}

.box {

    width: 170px;
    height: 170px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
   

}

.box::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
}

/*Turn Status Text*/
#status-text {
    background-color: rgba(55, 1, 60, 1);
    color: rgba(255, 254, 254, 1);
    font-size: 40px;
    position: relative;
   
}


/*---- ScoreArea*/
#scoreboard-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(242, 198, 253, 1);
    width: fit-content;
    height: 100%;
    border: 2px solid;
}



.score-area h2 {
    color: rgba(55, 1, 60, 1);
    font-size: xx-large;
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: underline;
    
}

.scores {
    color: rgba(55, 1, 60, 1);
    font-size: xx-large;
    text-transform: uppercase;
    padding: 1rem 3rem 0.1rem 1rem;
}


.score-options p {
    margin: 0;
    /* Remove default margin to ensure better alignment */
    margin-bottom: 20px;
        /* Add space between each p element */
}

.score-options img {
    vertical-align: middle;
    /* Align images vertically in the middle with the text */
    margin-right: 10px;
    /* Add some right margin for spacing between image and text */
}

/*-----Score icons*/
.scoreskull-graphic {
    width: 3em;
    

}
.scoretie-graphic {
    width: 1.5em;
  
}

.scorebones-graphic {
    width: 3em;

    
}

/*Refresh button*/
#restartBtn {
    background-color: rgba(255, 254, 254, 1);
    color: rgba(159, 74, 180, 1);
    font-family: "Acme", sans-serif;
    font-size: 38px;
    text-align: center;
    width: 100%;
    height: 4rem;
    text-transform: uppercase;
}

#restartBtn:active {
    background-color: rgba(159, 74, 180, 1);
    color: rgba(255, 254, 254, 1);
    text-align: center;
    width: 100%;
    height: 4rem;
    text-transform: uppercase;

}
/*Footer*/
#footer {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-top: auto;
    padding: 2% 0;
    background-color: rgba(159, 74, 180, 1);

}

.footer-content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        letter-spacing: 2px;
        margin: 0 10px;

}

/*Responsive Screen size 760*/
@media (max-width: 760px) {
    .game-area {
        flex-direction: column;
    }

    .score-area {
        width: 100%;
        height: fit-content;
        font-size: 2rem;
        padding-right: 2px;
    }
    .score-options {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }

}

/*Responsive Screen size 530*/
@media (max-width: 530px) {
   /*Reduce size od headline*/
    .heading {
        font-size: x-large;
    }

    .box {
        width: 100px;
        height: 100px;
    }

    .score-area h2 {
        padding: 0;
    }
   
    .scores {
        font-size: medium;
        padding-right: 5%;
    }

}